<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro to Data Science</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>Hasil prediksi</h1>
        <p class="center-text"><b>Prediksi:<br>{{ hasil }}</b></p>

        {% if rm %}
        <p class="center-text">rm: {{ rm }} - lstat: {{ lstat }}</p>
        {% endif %}

        {% if img %}
            <img src="{{ img }}" alt="">
        {% endif %}
        <br>
        <a href="/">&larr; Kembali ke Beranda</a>
    </div>
</body>

</html>