<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Machine Learning menggunakan Python</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>Integrasi REST API</h1>
        <hr>

        <h2>Prediksi Harga Rumah</h2>
        <form action="/predict-house" method="post" enctype="multipart/form-data">
            <input type="hidden" name="predict_mode" value="regresi">
            <input class="form-input" type="number" id="rm" name="rm" placeholder="rm: Banyaknya kamar">
            <input class="form-input" type="number" id="lstat" name="lstat" placeholder="lstat: Presentase populasi masyarakat miskin">
            <input class="button" type="submit" value="Prediksi">
        </form>

        <hr>
        <h2>Prediksi CIFAR-10</h2>
        <form action="/predict-cifar" method="post" enctype="multipart/form-data">
            <input type="hidden" name="predict_mode" value="klasifikasi">
            <input type="file" name="file" id="file">
            <input class="button" type="submit" value="Prediksi">
        </form>
    </div>
</body>

</html>